[defaults]
interpreter_python=/usr/bin/python3
inventory = cml_hosts.yml    
roles_path=~/cisco-ansible-eda/roles
deprecation_warnings=False
host_key_checking = False
timeout = 60
command_timeout = 60
retry_files_enabled = False
# Use the YAML callback plugin.
stdout_callback = yaml
stderr_callback = yaml

[persistent_connection]
command_timeout = 60

[paramiko_connection]
look_for_keys = False

# Rulebook to run playbook and display output in yaml format
# export ANSIBLE_STDOUT_CALLBACK=yaml
